@import "variables.scss";

header {
    position: fixed;
    text-align: center;
    width: 100vw;
    z-index: 1;
    border-top: none;
    border-right: none;
    border-left: none;
    border-style: solid;
    border-width: 0.25px;
    border-color: $default-border-color;
    box-shadow: $default-shadow;
    height: 4rem;
    background-color: $background-color;
    display: flex;
    justify-content: center;
    nav {
        justify-self: center;
        height: 4rem;
        max-width: 800px;
        min-width: 350px;
        text-align: center;
        display: flex;
        justify-content: space-evenly;

        a {
            width: 33%;
            font-weight: 400;
            color: $default-heading-color;
            text-decoration: none;
            align-self: center;
            font-size: 1.25rem;
        }
    }
}
