@import "./variables.scss";

.merit-container {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: $background-color;
    border-style: solid;
    opacity: 0;
    border-width: $default-border-width;
    border-color: $default-border-color;
    box-shadow: $default-shadow;
    -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-fill-mode: both;

    .merit-info {
        display: flex;
        justify-content: left;
        width: 100%;

        .logo-container {
            height: auto;
            min-width: 4rem;
            margin-right: 1rem;
            padding: 1rem;

            img {
                border-radius: 50%;
                box-shadow: $default-shadow;
                min-width: 2rem;
                max-width: 5rem;
            }
        }

        .spacer {
            width: 100%;
            display: inline-flex;
            justify-content: space-between;

            .company-title {
                margin-top: auto;
                margin-bottom: auto;

                h3 {
                    color: $default-heading-color;
                    font-weight: 400;
                    font-size: 1rem;
                    margin-top: 0.5rem;
                }

                h2 {
                    margin: 0;
                    font-weight: 600;
                }
            }

            .period {
                justify-content: right;
                margin: 0.5rem;
                margin-right: 1.5rem;
                text-align: right;
                span {
                    width: 100%;
                    white-space: nowrap;
                }
            }
        }
    }

    .description {
        margin: 1rem;
    }

    @-webkit-keyframes slide-left {

        0% {
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
            opacity: 0;
        }

        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
            opacity: 1;
        }
    }

    @keyframes slide-left {

        0% {
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
            display: inline-block;
            opacity: 0;
        }

        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
            opacity: 1;
        }
    }
}
