$background-color: white;
$default-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
$hover-default-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.35);
$default-heading-color: #707070;
$default-border-color: #D2D2D2;
$default-border-width: 0.25px;